include Makefile
include LICENSE
include *.md
include *.ini
include *.toml
include requirements.txt
include brainmagick/py.typed
recursive-include brainmagick *.yaml
recursive-include brainmagick *.csv
recursive-include brainmagick *.json
include brainmagick.png
